[package]
name = "cargo-hack"
version = "0.5.15" #publish:version
edition = "2021"
rust-version = "1.56"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/taiki-e/cargo-hack"
keywords = ["cargo", "subcommand", "testing"]
categories = ["command-line-utilities", "development-tools::cargo-plugins", "development-tools::testing"]
exclude = ["/.*", "/tools"]
description = """
Cargo subcommand to provide various options useful for testing and continuous integration.
"""

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/{ name }-{ target }.tar.gz"
bin-dir = "{ bin }{ binary-ext }"
pkg-fmt = "tgz"

[workspace]
resolver = "2"

[dependencies]
anyhow = "1.0.34"
atty = "0.2.11"
ctrlc = { version = "3.1.4", features = ["termination"] }
lexopt = "0.2"
serde_json = "1"
termcolor = "1.1"
toml_edit = "0.14.3"

[dev-dependencies]
easy-ext = "1"
fs-err = "2"
once_cell = "1"
tempfile = "3"
walkdir = "2"
