[package]
name = "cargo-hack"
version = "0.3.7"
authors = ["Taiki Endo <te316e89@gmail.com>"]
edition = "2018"
license = "Apache-2.0 OR MIT"
repository = "https://github.com/taiki-e/cargo-hack"
homepage = "https://github.com/taiki-e/cargo-hack"
keywords = ["cargo", "subcommand"]
categories = ["command-line-utilities", "development-tools::cargo-plugins", "development-tools::build-utils"]
readme = "README.md"
description = """
A tool to work around some limitations on cargo.
"""

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[workspace]

[dependencies]
anyhow = "1.0.28"
ctrlc = "3.1.4"
serde = "1.0.106"
# Depends directly on `serde_derive` instead of using `derive` feature of
# `serde` to reduce compile time. When pipeline compilation for proc-macro is
# supported, switch to using `derive` feature.
serde_derive = "1.0.106"
serde_json = "1.0.51"
termcolor = "1.1.0"
toml = "0.5.6"

[dev-dependencies]
easy-ext = "0.2.0"
