name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - staging
  schedule:
    - cron: '0 1 * * *'

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -Dwarnings
  RUST_BACKTRACE: 1

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      matrix:
        rust:
          # This is the minimum supported Rust version of this crate.
          # When updating this, the reminder to update the minimum supported Rust version in README.md.
          - 1.36.0
          - 1.39.0
          - 1.41.0
          - stable
          - beta
        include:
          - os: ubuntu-latest
            rust: nightly
          - os: macos-latest
            rust: nightly
          - os: windows-latest
            rust: nightly
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        run: ci/install-rust.sh ${{ matrix.rust }}
      - if: matrix.rust == 'nightly'
        run: cargo install cargo-hack
      - run: cargo test
      - if: matrix.rust == 'nightly'
        run: bash scripts/check-minimal-versions.sh

  run:
    strategy:
      matrix:
        rust:
        # cargo-hack is usually runnable with Cargo versions older than the Rust version required for installation.
        # When updating this, the reminder to update the minimum supported Rust version in README.md.
          - 1.26.0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        run: ci/install-rust.sh ${{ matrix.rust }}
      - run: cargo +stable install --path .
      - run: cargo hack check --manifest-path tests/fixtures/run/real/Cargo.toml
      - run: cargo hack check --manifest-path tests/fixtures/run/virtual/Cargo.toml
      - run: git diff --exit-code

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust and Clippy
        run: ci/install-component.sh clippy
      - run: cargo clippy --all --all-features --all-targets

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust and Rustfmt
        run: ci/install-component.sh rustfmt
      - run: cargo fmt --all -- --check

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: shellcheck **/*.sh

  # These jobs don't actually test anything, but they're used to tell bors the
  # build completed, as there is no practical way to detect when a workflow is
  # successful listening to webhooks only.
  #
  # ALL THE PREVIOUS JOBS NEEDS TO BE ADDED TO THE `needs` SECTION OF THIS JOB!

  ci-success:
    name: ci
    if: github.event_name == 'push' && success()
    needs:
      - test
      - run
      - clippy
      - rustfmt
      - shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Mark the job as a success
        run: exit 0
  ci-failure:
    name: ci
    if: github.event_name == 'push' && !success()
    needs:
      - test
      - run
      - clippy
      - rustfmt
      - shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Mark the job as a failure
        run: exit 1
