name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - staging
      - trying
  schedule:
    - cron: '00 01 * * *'

env:
  RUSTFLAGS: -Dwarnings
  RUST_BACKTRACE: 1

defaults:
  run:
    shell: bash

jobs:
  test:
    name: test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        rust:
          # This is the minimum supported Rust version of this crate.
          # When updating this, the reminder to update the minimum supported Rust version in README.md.
          - 1.36.0
          - stable
          - nightly
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        run: |
          . ./ci/install-rust.sh ${{ matrix.rust }}
      - name: cargo test
        run: |
          cargo test
      - name: cargo run
        run: |
          cargo run -- hack check --each-feature --no-dev-deps
          cargo run -- hack --remove-dev-deps

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        run: |
          . ./ci/install-rust.sh
      - name: Install clippy
        run: |
          . ./ci/install-component.sh clippy
      - name: cargo clippy
        run: |
          cargo clippy --all --all-features --all-targets

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust
        run: |
          . ./ci/install-rust.sh
      - name: Install rustfmt
        run: |
          . ./ci/install-component.sh rustfmt
      - name: cargo fmt --check
        run: |
          cargo fmt --all -- --check

  # These jobs don't actually test anything, but they're used to tell bors the
  # build completed, as there is no practical way to detect when a workflow is
  # successful listening to webhooks only.
  #
  # ALL THE PREVIOUS JOBS NEEDS TO BE ADDED TO THE `needs` SECTION OF THIS JOB!

  ci-success:
    name: ci
    if: github.event_name == 'push' && success()
    needs:
      - test
      - clippy
      - rustfmt
      - rustdoc
    runs-on: ubuntu-latest
    steps:
      - name: Mark the job as a success
        run: exit 0
  ci-failure:
    name: ci
    if: github.event_name == 'push' && !success()
    needs:
      - test
      - clippy
      - rustfmt
      - rustdoc
    runs-on: ubuntu-latest
    steps:
      - name: Mark the job as a failure
        run: exit 1
